body {
    background: #222f3e;
}

.container {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 70vh;
    background: var(-- main-color);
    border-radius: 5px;
    font-family: "dancing script", cursive;
    overflow: hidden;
    color: #797d7f;
    letter-spacing: 0.5px;
    display: grid;
}

.inner {
    position: absolute;
    height: 100%;
    width: 80%;
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 10px;
    background: #0e2136;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 70%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 001.5rem Orgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}

.num img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 440px;
    top: 0px;
    cursor: pointer;
    animation: rot 1s linear;
}

.text {
    position: relative;
    left: 20px;
    right: 20px;
}

.quote{
    right: 10px;
    margin-right: 15px;
}

.author {
    left: 60%;
}

#newQ {
    position: fixed;
    bottom: 0px;
    right: 175px;
    text-align: center;
    background-color: #1DA1F2;
    border-radius: 8px;
    padding: 5px;
    color: greenyellow;
    cursor: pointer;
}

.head {
    text-align: center;
    color: #1DA1F2;
}

@media (min-width: 551px) and (max-width: 800px) {
    .head {
        padding: 10px;
    }

    #newQ {
        bottom: 0px;
        right: 57px;
    }
}

@media (min-width: 375px) and (max-width: 550px) {
    .head {
        padding: 10px;
    }

    #newQ {
        bottom: 0px;
        right: 20px;
    }
}